body{
    border: 1px solid black;
}
.div1
{
    border: 20px solid green;
    background-color: aqua;
    padding: 8px 10px;
    margin: 30px;
    background-color: gold;
}

.div2
{
    border: 2px solid gray;
    background-color: red;
    padding : 5px;
    margin : 20px;

}